$theme: indigo;
$bp-md: 767px; //breakpoint
@mixin sm {
  @media screen and (max-width: ($bp-md)) {
    @content;
  }
}

#header .logo-title, .section .section-title{
    color: $theme;
}

#header {
    overflow: hidden;
    img {
        opacity: 0.3;
        pointer-events: none;
        height: 100vh;
        width: 100vw;
    }
    .logo {
        position: absolute;
    }
}

#works2 {
    figure {
        display: inline-block;
        width: 32%;
        img {
            width: 50%;
            margin: 10% auto 40%;
            &:hover {
                width: 100%;
                margin: 0;
                cursor: pointer;
            }
        }
    }
}

#about {
    .col-index {
        width: 25%;
        font-weight: bold;
        text-decoration: underline;
        @include sm {
            width: 100%;
            margin-bottom: 18px;
        }
    }
    .col-contents {
        width: 70%;
        @include sm {width: 100%;}
    }
    .underline {
        text-decoration: line-through;
    }
}

#contact {
    p.center {
        text-align: center;
    }
}